
/* navigation */

.activeNav{
    box-shadow: 0 0 5px rgb(210, 102, 15);

    border: 1px solid #F0852D;
}

.navbar-dark .navbar-toggler{
    border-color: rgb(255, 255, 255) !important
}

.nav-item{
    writing-mode: vertical-rl;
    padding-top: 20px;
    
}

#nav-right {
    float: right;
  
}
#position {
    transform: translate(-5%,50%);
}



a.nav-link{
    color : white !important
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 0% !important;
}


a:hover {
    color: black !important;
    text-decoration: none;
}


/* layout nav*/


.FLoatRightANdRightPadddingNoNE{
    padding-right: 0% !important;
    float: right;
}




 









